{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {
        "semi": 2,
        "no-undef": "error"
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "globals": {
       "require": false,
       "module": false
      }
}
