$iconOpacity: 0.9;
$iconOpacityDisabled: 0.6;
$volumIconSize: 1.2em;

.playerControls {
	vertical-align: middle;
	margin-left: 1em;
	// line-height: 25px;
}
.rewindControl, .playbackControl, .fastForwardControl {
	font-size: 1.2em;
  cursor: pointer;

  color: rgba(255, 255, 255, $iconOpacity);
  &.disabled {
    color: rgba(255, 255, 255, $iconOpacityDisabled);
    cursor: default;
  }
}
.controlsContainer {
	padding-top: 20px;
	height: 64px;
	vertical-align: middle;
}
.playbackControl {
	font-size: 1.6em !important;
	margin: 0 auto 0em 0;
	line-height: 0;
}
.fastForwardControl {
	margin-left: 0.4em;
	padding-left: 0.2em;
}

.soundSliderLeftIcon {
	color: rgba(0,0,0, $iconOpacity);
	svg {
		height: $volumIconSize;
		width: $volumIconSize;
	}
	margin-right: 15px;
  cursor: pointer;
  &.disabled {
    color: rgba(255, 255, 255, $iconOpacityDisabled);
  }
}

.soundSliderRightIcon {
	color: rgba(255, 255, 255, $iconOpacity);
	svg {
		height: $volumIconSize;
		width: $volumIconSize;
	}
  &.disabled {
    color: rgba(255, 255, 255, $iconOpacityDisabled);
  }
  cursor: pointer;
}
.play-pause-box {
	height: 22px;
	margin-left: 13px !important;
}
