$iconOpacity: 0.3;
$iconOpacityDisabled: 0.15;
$volumIconSize: 1.2em;

.playerControls {
	vertical-align: middle;
	// line-height: 25px;
}
.rewindControl, .playbackControl, .fastForwardControl {
	margin-top: 0.2em;
	height: 2em;
	width: 2em;

	border-radius: 1em;
	border: 2.5px solid rgba(0, 0, 0, $iconOpacity);
  cursor: pointer;

  color: rgba(0, 0, 0, $iconOpacity);
  &.disabled {
    color: rgba(0, 0, 0, $iconOpacityDisabled);
    border-color: rgba(0, 0, 0, $iconOpacityDisabled);
    cursor: default;
  }
	svg {
		height: 1.5em;
		width: 1.5em;
	}
}
.controlsContainer {
	padding-top: 25px;
	height: 80px;
}
.playbackControl {
  margin-top: 0;
	height: 2.5em;
	width: 2.5em;

	padding-top: 0.15em;
	padding-left: 0.15em;

	border-radius: 1.25em;
	svg {
		height: 2em;
		width: 2em;
  }
}
.ant-slider {
    border-top: 4px solid rgb(224, 223, 223);
    border-bottom: 4px solid rgb(224, 223, 223);
}

.fastForwardControl {
	margin-left: 0.4em;
	padding-left: 0.2em;
}

.soundSliderLeftIcon {
	color: rgba(0,0,0, $iconOpacity);
	svg {
		height: $volumIconSize;
		width: $volumIconSize;
	}
	margin-right: 15px;
  cursor: pointer;
  &.disabled {
    color: rgba(0, 0, 0, $iconOpacityDisabled);
  }
}

.soundSliderRightIcon {
	color: rgba(0, 0, 0, $iconOpacity);
	svg {
		height: $volumIconSize;
		width: $volumIconSize;
	}
  &.disabled {
    color: rgba(0, 0, 0, $iconOpacityDisabled);
  }
  cursor: pointer;
}
