$iconOpacity: 0.9;
$iconOpacityDisabled: 0.6;
$volumIconSize: 1.2em;

.playerControls {
	vertical-align: middle;
	margin-left: 1em;
	// line-height: 25px;
}
.rewindControl, .playbackControl, .fastForwardControl {
	font-size: 1.2em;
  cursor: pointer;

  color: rgba(255, 255, 255, $iconOpacity);
  &.disabled {
    color: rgba(255, 255, 255, $iconOpacityDisabled);
    cursor: default;
  }
}
.controlsContainer {
	padding-top: 20px;
	height: 64px;
}
.playbackControl {
	font-size: 1.6em !important;
	margin: 0 auto;
}
.sleekSlider {
	display: inline-block;
}
.sleekSlider .pt-slider-label {
	display: none !important;
}
.sleekSlider .pt-slider-handle {
	border-radius: 200px;
}
.ant-slider {
    border-top: 4px solid rgb(224, 223, 223);
    border-bottom: 4px solid rgb(224, 223, 223);
}

.fastForwardControl {
	margin-left: 0.4em;
	padding-left: 0.2em;
}

.soundSliderLeftIcon {
	color: rgba(0,0,0, $iconOpacity);
	svg {
		height: $volumIconSize;
		width: $volumIconSize;
	}
	margin-right: 15px;
  cursor: pointer;
  &.disabled {
    color: rgba(255, 255, 255, $iconOpacityDisabled);
  }
}

.soundSliderRightIcon {
	color: rgba(255, 255, 255, $iconOpacity);
	svg {
		height: $volumIconSize;
		width: $volumIconSize;
	}
  &.disabled {
    color: rgba(255, 255, 255, $iconOpacityDisabled);
  }
  cursor: pointer;
}
.play-pause-box {
	margin-left: 13px !important;
}
