body {
  overflow: hidden;
}
div.configuration-layout {
  background-color: #393b46;
  color: #d5dbe7;
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  display: relative;
  div.configuration-header {
    margin: 3em 4em;
  }
  div.configuration-container {
    margin: 0 0 0 0;
    // width: 50%;
    background-color: #333340;
    padding: 15vh 0;
    height: 100vh;
    box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    // &:hover {
    //   margin: 0 0 0 0;
    //   background-color: #393b46;
    //   transition: all 0.35s ease-in-out;
    //   // filter: blur(25px);
    //   opacity: 0;
    // }
    z-index: 1;
    opacity: 0;
    transition: all 250ms ease-in-out;
    width: 75%;
    &.active {
      margin: 0 0 0 25%;
      transition: all 250ms ease-in-out;
      opacity: 1;
      // z-index: 2;
    }
    &.next {
      margin: 0 0 0 100%;
      transition: all 250ms ease-in-out;
      opacity: 1;
      // z-index: 2;
    }
  }
  div.configuration-content {
    margin: 3em 6em;
    div.configuration-next {
      margin: 4em 0;
      width: 30%;
      text-align: right;
    }
  }
}
