.playerControlsContainer {
	width: 150px;
}

.mainRow {
	min-height: 80px;
	background-color: #E0DFDF;
}

.currentTrackStatusCol {
  height: 100%;
}
.toolbar {
	width: 100%;
}

div, span {
  font-family: "Source Sans Pro", "Open Sans", sans-serif;
}
