.playerControlsContainer {
}

.mainRow {
	min-height: 64px;
	background-color: #1e1f22;
}

.currentTrackStatusCol {
  height: 100%;
}
.toolbar {
	width: 100%;
}

div, span {
  font-family: "Source Sans Pro", "Open Sans", sans-serif;
}
