
.filterPopover {
  padding: 1.2em 2em 0.6em 1.2em;
}
.storeContainer {
  .storeNav {
    &> span {
      margin: 0.8em;
    }
    .pt-icon {

    }
    .downloads {

    }
    div {
      display: inline-block !important;
      margin: 0.8em;
      width: 15%;
    }
  }
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .1);
  }
  .results {
    margin: 1.4em 2.4em 0 2.4em;
    .resultsTitle {
      text-transform: uppercase;
      font-size: 14px;
      color: #5c5b70;
      margin: 0 0 1em 1em;
      span.filter {
        float: right;
        margin-right: 1.8em;
        cursor: pointer;
        .filterActive {
          color: #af4d4d !important;
        }
      }
    }
    .spinner {
      text-align: center;
      margin-top: 40px;
    }
    .album {
      img {
        margin: 1em;
        background-image: url(/api/v2/assets/no-album.jpg?size=96);
        width: 96px;
        height: 96px;
      }
      .albumInfo {
        margin: 1em 0;

        .artistName {
          color: #5a596b;

        }
        .albumName {
          font-weight: bold;
          width: 100%;
        }
        .trackCount {
          font-size: 12px;
          color: #837c96;
        }
        .pt-button-group {
          margin-top: 0.8em;
        }
      }
      .tracks {
        margin-top: 1em;
        .mediaTitle {
          margin: 1em 2em;
          color: #736d88;
          &:after  {
            content:"";
            display: inline-block;
            height: 0.7em;
            vertical-align: bottom;
            width: 100%;
            margin-right: -100%;
            margin-left: 10px;
            border-top: 1px solid #e4e1ec;
          }
        }
        .track {
          margin: 0.1em 2em;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          .number {
            width: 25px;
            color: #76768a;
            float: left;
            text-align: right;
          }
          .title {
            margin-left: 1em;
            width: 60%;
          	text-overflow: ellipsis;
          	white-space: nowrap;
          	overflow: hidden;

          }
          .duration {
            float: right;
            // font-size: 1
            color: #76768a;
          }
        }
      }
    }

    .albumResults, .artistResults {
      border-top: solid 1px #dadde6;
      overflow-y: auto;
      margin-right: 3em;

    }
    .group-enter {
      opacity: 0.01;
    }

    .group-enter.group-enter-active {
      opacity: 1;
      transition: opacity 400ms ease-in;
    }

    .group-leave {
      opacity: 1;
    }

    .group-leave.group-leave-active {
      opacity: 0.01;
      transition: opacity 300ms ease-in;
    }
    .artistItem {
      // width: 350px;

      border: solid 1px #ecebf5;
      border-radius: 4px;
      padding: 1.2em;

      margin: 0.8em;

      box-shadow: 0px 1.6px 6px 0px rgba(0,0,0,0.15);
      transition: all 0.05s ease-in-out;

      cursor: pointer;
      .dis {
        color: #8e92a2;
        font-size: 12px;

      	text-overflow: ellipsis;
      	white-space: nowrap;
      	overflow: hidden;
      }
      &:hover {
        box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.15);
        // border: solid 1px rgba(0,0,0,0.10);
        transition: all 0.05s ease-in-out;
        transform: scale(1.06);

      }

      &.anySelected {
        transition: all 0.05s ease-in-out;
        box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.02);
        color: #87879e;

        &:hover {
          box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.15);
          transition: all 0.05s ease-in-out;
        }
      }
      &.selected {
        // font-weight: bold;
        box-shadow: 0px 4.5px 15px 0px rgba(0,0,0,0.20);
        transition: all 0.4s ease-in-out;
        color: #000;
      }
    }
  }
}
