div.login-content {
  div.login-header {
    margin: 3em 4em;
    h3 {
      font-size: 24px;
    }
  }
  div.login-content {
    margin: 3em 5em;
    width: 75%;
    div.login-button {
      margin: 4em 0;
      width: 30%;
      text-align: right;
    }
  }
}
