div.configure-content {
  div.configure-header {
    margin: 3em 4em;
    h3 {
      font-size: 24px;
    }
  }
  div.configure-content {
    margin: 3em 5em;
    width: 75%;

    p {
      width: 450px;
      margin: 1em 0;
      // text-align: justify;
      font-size: 15px
    }
    div.configure-button {
      margin: 4em 0;
      width: 450px;
      text-align: right;
    }
  }
}
