.playlistView {
  padding: 1.4em;
  color: #fff;
  height: 47vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
}

.currentTrackInfo {
  color: #fff;
  padding: 0.7em;
  background-color: rgba(23, 25, 26, 0.37);

  .title {
    font-weight: bold;
  }
}
.pt-icon-pulse {
  font-size: 3em !important;
  /* margin: auto; */
  width: 100%;
  height: 40vh;
  text-align: center;
  line-height: 30vh !important;
}
