* {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none !important;
}
*:focus {
  outline: none !important;
}

h3 {
  font-size: 24px;
}

div.context-menu-item {
  span {
    color: #515774;
    font-size: 12px;
    float: right;
    line-height: 16px;
  }
}
