$iconOpacity: 0.3;

.currentTrackStatus {
  color: rgba(0, 0, 0, $iconOpacity);
  margin-left: 2em;
  margin-right: 2em;
}

.currentTrackTitle {
  float: left;
  margin-top: 1em;
  margin-bottom: 0;

  text-align: center;

  font-size: 0.9em;
  color: #fff;
}

.currentTrackSubtitle {
  font-size: 1em;
  color: #fff;
}

.currentTime {
  font-size: 0.7em;
}

.timeLeft  {
  font-size: 0.7em;
  cursor: pointer;
}

.trackTimeSlider {
  margin-top: 8px;
  margin-bottom: 2px;
}
