.trackArtist {
  color: rgba(0, 0, 0, 0.35);

}
.trackName {
  color: rgba(0, 0, 0, 0.55);
  font-weight: bolder;
  cursor: pointer;
}
.disabledTrackName {
  color: rgba(0, 0, 0, 0.55);
}

.trackAlbum {
  color: rgba(0, 0, 0, 0.35);

}
