div.wanted-item {
  display: inline-block;

  margin: 3em;
  cursor: pointer;

  div.wanted-image {
    position: relative;
    opacity: 0.7;
    div.wanted-overlay {
      position: absolute;
      color: #fff;
      bottom: 1em;
      right: 1em;
    }
  }
  div.wanted-props {
    text-align: center;
    width: 150px;
    div.wanted-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    div.wanted-artist {
      font-size: 12px;
      color: #5c5d6e;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
