.sidebar {
  // margin: 2.5em;
  // height: 100vh;
  // background-color: rgb(45, 45, 46);
  color: white;
  position: relative;
  // box-shadow: inset -16px 0px 24px 0px rgba(0,0,0,0.30);
  // background: linear-gradient(to right,
  //   rgb(45, 45, 46) 0%,
  //   rgb(45, 45, 46) 80%,
  //   rgb(32, 31, 31) 100%);

  div {
    padding: 0.6em 1.2em;
    display: block !important;
    .itemName {
      padding-left: 1.2em;
      padding-right: 1.2em;
      display: none;
    }
    &.selected {
      background-color: rgba(255, 255, 255, 0.26);
    }
    &.divider {
      height: 22px;
    }
    &.bottom {
    }
    &:not(.divider) {
      &:hover {
        cursor: pointer;
        background-color: #fff;
        //
        // background: linear-gradient(to right,
        //   rgb(255, 255, 255) 0%,
        //   rgb(255, 255, 255) 80%,
        //   rgb(201, 201, 201) 100%);
        color: #000;
      }
    }
  }
}
.sidebar:hover {
  .itemName {
    display: inline-block;
  }
}

.addButton {
  cursor: pointer;
}

.parentItem {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.35);
  margin-bottom: 1em;
}

.childrenItem {
  color: rgba(0, 0, 0, 0.35);
  margin-left: 1em;
}

.newLibraryPath {
    background-color: rgba(255, 255, 255, 0.11);
    border-width: 0;
    color: white;
}

.newLibraryName {
  background-color: rgba(255, 255, 255, 0.11);
  border-width: 0;
  color: white;
}

.storeLinkParent {
    margin-top: 3.5em;
}
.storeLink, .storeLink:hover, .storeLink:focus{
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.35);
}
.librariesLink, .librariesLink:hover, .librariesLink:focus {
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.35);
}
.menuItem {
  font-size: 1.3em;
}
