.sidebar {
  // margin: 2.5em;
  height: 100vh;
}

.addButton {
  cursor: pointer;
}

.parentItem {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.35);
  margin-bottom: 1em;
}

.childrenItem {
  color: rgba(0, 0, 0, 0.35);
  margin-left: 1em;
}

.newLibraryPath {
    background-color: rgba(255, 255, 255, 0.11);
    border-width: 0;
    color: white;
}

.newLibraryName {
  background-color: rgba(255, 255, 255, 0.11);
  border-width: 0;
  color: white;
}

.storeLinkParent {
    margin-top: 3.5em;
}
.storeLink, .storeLink:hover, .storeLink:focus{
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.35);
}
.librariesLink, .librariesLink:hover, .librariesLink:focus {
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.35);
}
.menuItem {
  font-size: 1.3em;
}
